In [1]:
import pandas as pd
import numpy as np
from scipy.io import arff

Contract_Quote = pd.read_csv('C:/Users/bsuga/capstone_project/Data/Extract_from_Salesforce/Processed_Data_V2.csv',encoding='ISO-8859-1')

In [2]:
df= Contract_Quote
df_1 = df.iloc[:500,:]
df_2 = df.iloc[501:1000,:]
df_3 = df.iloc[1001:1500,:]
df_4 = df.iloc[1501:2000,:]
df_5 = df.iloc[2001:2500,:]
df_6 = df.iloc[2501:3000,:]
df_7 = df.iloc[3001:3500,:]
df_8 = df.iloc[3501:4000,:]
df_9 = df.iloc[4001:,:]

In [3]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")
def city_state_country(L,R):
    coord=str(L)+','+str(R)
    location = geolocator.reverse(coord, exactly_one=True,timeout=10)
    address = location.raw['address']
    city = address.get('city', '')
    state = address.get('state', '')
    country = address.get('country', '')
    return address

In [4]:
city_state_country(26.565118,-81.780411)

{'house_number': '11080',
 'road': 'Glastonbury Circle',
 'neighbourhood': 'The Plantation Somerset',
 'city': 'Fort Myers',
 'county': 'Lee County',
 'state': 'Florida',
 'postcode': '33913',
 'country': 'United States',
 'country_code': 'us'}

In [5]:
df_2['Location'] = df_2.apply(lambda x: city_state_country(x.Latitude, x.Longitude), axis=1)
df_2.shape

C:\Users\bsuga\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(499, 19)

In [6]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 501 to 999
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             499 non-null    int64
 1   Contract Number        499 non-null    int64
 2   Contract ID            499 non-null    object
 3   Quote ID               499 non-null    object
 4   Smartview Contract ID  499 non-null    float64
 5   Products               499 non-null    object
 6   Contract Approved      499 non-null    int64
 7   Status                 499 non-null    object
 8   Subtotal               499 non-null    float64
 9   Total Price            499 non-null    float64
 10  Contract Amount        499 non-null    float64
 11  Sales Total            499 non-null    float64
 12  Sold Date - Date Only  498 non-null    object
 13  Site Address           499 non-null    object
 14  Latitude               499 non-null    float64
 15  Longitude              499 non-null    float64
 16  Discount_Contract      499 non-null    float64
 17  Discount_Sales         499 non-null    float64
 18  Location               499 non-null    object
dtypes: float64(9), int64(3), object(7)
memory usage: 74.2+ KB

In [7]:
df_2['Location']

501    {'road': 'Pelto Street', 'residential': 'Islan...
502    {'house_number': '14735', 'road': 'Osprey Poin...
503    {'house_number': '7756', 'road': 'Grande Shore...
504    {'road': 'Montelanico Loop', 'county': 'Collie...
505    {'house_number': '19368', 'road': 'Water Oak D...
                             ...
995    {'house_number': '9599', 'road': 'Ironstone Te...
996    {'house_number': '1906', 'road': 'Northwest 1s...
997    {'house_number': '3350', 'road': 'North Key Dr...
998    {'road': 'Antigua Way', 'residential': 'The Is...
999    {'house_number': '3541', 'road': 'El Segundo C...
Name: Location, Length: 499, dtype: object

In [9]:
df_1['Location'] = df_1.apply(lambda x: city_state_country(x.Latitude, x.Longitude), axis=1)
df_1.shape

C:\Users\bsuga\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(500, 19)

In [10]:
df_3['Location'] = df_3.apply(lambda x: city_state_country(x.Latitude, x.Longitude), axis=1)
df_3.shape

C:\Users\bsuga\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(499, 19)

In [11]:
df_4['Location'] = df_4.apply(lambda x: city_state_country(x.Latitude, x.Longitude), axis=1)
df_4.shape

C:\Users\bsuga\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(499, 19)

In [15]:
df_5['Location'] = df_5.apply(lambda x: city_state_country(x.Latitude, x.Longitude), axis=1)
df_5.shape

C:\Users\bsuga\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(499, 19)

In [16]:
df_6['Location'] = df_6.apply(lambda x: city_state_country(x.Latitude, x.Longitude), axis=1)
df_6.shape

C:\Users\bsuga\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(499, 19)

In [17]:
df_7['Location'] = df_7.apply(lambda x: city_state_country(x.Latitude, x.Longitude), axis=1)
df_7.shape

C:\Users\bsuga\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(499, 19)

In [18]:
df_8['Location'] = df_8.apply(lambda x: city_state_country(x.Latitude, x.Longitude), axis=1)
df_8.shape

C:\Users\bsuga\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(499, 19)

In [19]:
df_9['Location'] = df_9.apply(lambda x: city_state_country(x.Latitude, x.Longitude), axis=1)
df_9.shape

C:\Users\bsuga\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

(530, 19)

In [20]:
df = [df_1, df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9]
  
df = pd.concat(df)
df.shape

(4523, 19)

In [21]:
df_L=df[['Latitude','Longitude']]
df_L.head()

    Latitude  Longitude
0  26.218520 -81.733095
1  26.262933 -81.773646
2  26.297815 -81.719438
3  26.593964 -81.764015
4  26.693666 -81.734365

In [22]:
df = pd.concat([df, df["Location"].apply(pd.Series)], axis=1)
df.head(100)

,Unnamed: 0,Contract Number,Contract ID,Quote ID,Smartview Contract ID,Products,Contract Approved,Status,Subtotal,Total Price,...,aeroway,man_made,quarter,office,township,state_district,retail,city_district,shop,historic
0,1,25146,8004Q000001RClb,0Q04Q000005jx3s,30207.0,Shutter,1,Approved,7767.0,7767.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,25230,8004Q000001RCpb,0Q04Q000005jwrN,30301.0,Window,1,Approved,13702.0,13702.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,295,8001U0000003t43,0Q01U000000vVLf,28131.0,Shutter,1,Approved,12125.0,12125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16,297,8001U0000003t45,0Q01U000000vVOl,28229.0,Shutter,1,Approved,7025.0,7025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,301,8001U0000003t49,0Q01U000000vVSs,28370.0,Shutter,1,Approved,6438.0,6438.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,779,26258,8004Q000001RDRQ,0Q04Q000005jzHr,31273.0,Window and Shutter,1,Approved,5353.2,5353.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,803,26423,8004Q000001RDZY,0Q04Q000005jzRD,31470.0,Window and Shutter,1,Approved,13848.0,13848.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,807,26510,8004Q000001RDe4,0Q04Q000005jzgc,31561.0,Shutter,1,Approved,13307.0,13307.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,811,26512,8004Q000001RDe6,0Q04Q000005k0G5,31559.0,Shutter,1,Approved,5601.0,5601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,823,26266,8004Q000001RDRb,0Q04Q000005jzLH,31284.0,Shutter,1,Approved,4968.0,4968.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4523 entries, 0 to 4530
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4523 non-null   int64
 1   Contract Number        4523 non-null   int64
 2   Contract ID            4523 non-null   object
 3   Quote ID               4523 non-null   object
 4   Smartview Contract ID  4523 non-null   float64
 5   Products               4523 non-null   object
 6   Contract Approved      4523 non-null   int64
 7   Status                 4523 non-null   object
 8   Subtotal               4523 non-null   float64
 9   Total Price            4523 non-null   float64
 10  Contract Amount        4523 non-null   float64
 11  Sales Total            4523 non-null   float64
 12  Sold Date - Date Only  4522 non-null   object
 13  Site Address           4523 non-null   object
 14  Latitude               4523 non-null   float64
 15  Longitude              4523 non-null   float64
 16  Discount_Contract      4523 non-null   float64
 17  Discount_Sales         4523 non-null   float64
 18  Location               4523 non-null   object
 19  house_number           3515 non-null   object
 20  road                   4387 non-null   object
 21  county                 4520 non-null   object
 22  state                  4521 non-null   object
 23  postcode               4244 non-null   object
 24  country                4523 non-null   object
 25  country_code           4523 non-null   object
 26  hamlet                 480 non-null    object
 27  town                   449 non-null    object
 28  neighbourhood          785 non-null    object
 29  city                   1089 non-null   object
 30  residential            881 non-null    object
 31  suburb                 502 non-null    object
 32  leisure                214 non-null    object
 33  village                557 non-null    object
 34  landuse                2 non-null      object
 35  locality               27 non-null     object
 36  amenity                16 non-null     object
 37  building               16 non-null     object
 38  tourism                26 non-null     object
 39  commercial             1 non-null      object
 40  industrial             3 non-null      object
 41  place                  3 non-null      object
 42  aeroway                1 non-null      object
 43  man_made               2 non-null      object
 44  quarter                6 non-null      object
 45  office                 2 non-null      object
 46  township               1 non-null      object
 47  state_district         2 non-null      object
 48  retail                 2 non-null      object
 49  city_district          1 non-null      object
 50  shop                   1 non-null      object
 51  historic               1 non-null      object
dtypes: float64(9), int64(3), object(40)
memory usage: 1.8+ MB

In [24]:
df= df[df['state'] == 'Florida']

In [25]:
df.to_csv('C:/Users/bsuga/capstone_project/Data/Extract_from_Salesforce/Final_Data.csv')

In [26]:
Window= df[df['Products'] == 'Window']
Shutter=df[df['Products'] == 'Shutter']
Window_and_Shutter=df[df['Products'] == 'Window and Shutter']

In [27]:
Window.shape

(464, 52)

In [28]:
Shutter.shape

(3704, 52)

In [29]:
Window_and_Shutter.shape

(301, 52)

In [30]:
Window.to_csv('C:/Users/bsuga/capstone_project/Data/Extract_from_Salesforce/Window.csv')
Shutter.to_csv('C:/Users/bsuga/capstone_project/Data/Extract_from_Salesforce/Shutter.csv')
Window_and_Shutter.to_csv('C:/Users/bsuga/capstone_project/Data/Extract_from_Salesforce/Window_and_Shutter.csv')

In [31]:
Quantity = pd.read_csv('C:/Users/bsuga/capstone_project/Data/Extract_from_Salesforce/Quantity.csv',encoding='ISO-8859-1')

In [32]:
Quantity.head()

,Quantity,Quote Number,Quote ID,Contract ID,Products,Contract Number,Quote Name,Line Item Number
0,1,109346,0Q04Q000005jyjn,8001U0000003zFB,Window and Shutter,23554,James Barbara Swisshelm - 02-28-2020,1581017
1,1,154477,0Q04Q000005qpRg,8004Q0000025lLG,Window and Shutter,35262,Lynn Cooper - 08-30-2021,8985830
2,1,10310,0Q01U000000vXMj,8001U0000003v8Q,Shutter,8249,2204 NE 15TH PL,304371
3,1,133108,0Q04Q000006iBXS,8004Q00000244I1,Shutter,31090,Inman Johnson - 03-03-2021,8768384
4,1,52131,0Q01U000000viFG,8001U0000003x4s,Window,15717,3486 CLUBVIEW DR,597779

In [33]:
Quantity=Quantity[['Contract Number','Quantity']]

In [34]:
Quantity.shape

(320270, 2)

In [35]:
Quantity.head()

   Contract Number  Quantity
0            23554         1
1            35262         1
2             8249         1
3            31090         1
4            15717         1

In [36]:
Quantity=Quantity.groupby(['Contract Number']).sum()

In [37]:
Quantity.head()

                 Quantity
Contract Number
101                    79
102                    16
103                    14
104                    14
105                     6

In [38]:
df.head()

,Unnamed: 0,Contract Number,Contract ID,Quote ID,Smartview Contract ID,Products,Contract Approved,Status,Subtotal,Total Price,...,aeroway,man_made,quarter,office,township,state_district,retail,city_district,shop,historic
0,1,25146,8004Q000001RClb,0Q04Q000005jx3s,30207.0,Shutter,1,Approved,7767.0,7767.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,25230,8004Q000001RCpb,0Q04Q000005jwrN,30301.0,Window,1,Approved,13702.0,13702.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12,295,8001U0000003t43,0Q01U000000vVLf,28131.0,Shutter,1,Approved,12125.0,12125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16,297,8001U0000003t45,0Q01U000000vVOl,28229.0,Shutter,1,Approved,7025.0,7025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,24,301,8001U0000003t49,0Q01U000000vVSs,28370.0,Shutter,1,Approved,6438.0,6438.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df = df.merge(Quantity[['Quantity']], how = 'left',
                left_on = 'Contract Number', right_on = 'Contract Number')
#.drop(columns= ['Sold Date','Grand Total','Quote Name'])

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4469 entries, 0 to 4468
Data columns (total 50 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             4469 non-null   int64
 1   Contract Number        4469 non-null   int64
 2   Contract ID            4469 non-null   object
 3   Quote ID               4469 non-null   object
 4   Smartview Contract ID  4469 non-null   float64
 5   Products               4469 non-null   object
 6   Contract Approved      4469 non-null   int64
 7   Status                 4469 non-null   object
 8   Subtotal               4469 non-null   float64
 9   Total Price            4469 non-null   float64
 10  Contract Amount        4469 non-null   float64
 11  Sales Total            4469 non-null   float64
 12  Sold Date - Date Only  4468 non-null   object
 13  Site Address           4469 non-null   object
 14  Latitude               4469 non-null   float64
 15  Longitude              4469 non-null   float64
 16  Discount_Contract      4469 non-null   float64
 17  Discount_Sales         4469 non-null   float64
 18  geometry               4469 non-null   object
 19  Location               4469 non-null   object
 20  road                   4287 non-null   object
 21  county                 4469 non-null   object
 22  state                  4469 non-null   object
 23  postcode               4154 non-null   object
 24  country                4469 non-null   object
 25  country_code           4469 non-null   object
 26  house_number           2580 non-null   object
 27  hamlet                 508 non-null    object
 28  town                   465 non-null    object
 29  suburb                 584 non-null    object
 30  village                581 non-null    object
 31  neighbourhood          687 non-null    object
 32  residential            771 non-null    object
 33  leisure                272 non-null    object
 34  city                   1062 non-null   object
 35  amenity                45 non-null     object
 36  locality               29 non-null     object
 37  retail                 7 non-null      object
 38  building               19 non-null     object
 39  tourism                15 non-null     object
 40  commercial             5 non-null      object
 41  shop                   8 non-null      object
 42  office                 1 non-null      object
 43  township               0 non-null      object
 44  man_made               1 non-null      object
 45  quarter                0 non-null      object
 46  state_district         0 non-null      object
 47  city_district          0 non-null      object
 48  industrial             1 non-null      object
 49  Quantity               4435 non-null   float64
dtypes: float64(10), int64(3), object(37)
memory usage: 1.7+ MB

In [40]:
df.to_csv('C:/Users/bsuga/capstone_project/Data/Extract_from_Salesforce/Final_Data.csv')

In [41]:
Window.to_csv('C:/Users/bsuga/capstone_project/Data/Extract_from_Salesforce/Window.csv')
Shutter.to_csv('C:/Users/bsuga/capstone_project/Data/Extract_from_Salesforce/Shutter.csv')
Window_and_Shutter.to_csv('C:/Users/bsuga/capstone_project/Data/Extract_from_Salesforce/Window_and_Shutter.csv')

In [42]:
df.head()

,Unnamed: 0,Contract Number,Contract ID,Quote ID,Smartview Contract ID,Products,Contract Approved,Status,Subtotal,Total Price,...,man_made,quarter,office,township,state_district,retail,city_district,shop,historic,Quantity
0,1,25146,8004Q000001RClb,0Q04Q000005jx3s,30207.0,Shutter,1,Approved,7767.0,7767.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
1,9,25230,8004Q000001RCpb,0Q04Q000005jwrN,30301.0,Window,1,Approved,13702.0,13702.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0
2,12,295,8001U0000003t43,0Q01U000000vVLf,28131.0,Shutter,1,Approved,12125.0,12125.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,157.0
3,16,297,8001U0000003t45,0Q01U000000vVOl,28229.0,Shutter,1,Approved,7025.0,7025.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0
4,24,301,8001U0000003t49,0Q01U000000vVSs,28370.0,Shutter,1,Approved,6438.0,6438.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0